/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {
  /**
   * colors
   */
  --background-primary: hsl(240, 20%, 12%);
  --background-secondary: hsl(240, 21%, 15%);
  --background-tertiary: hsl(240, 21%, 12%);
  --primary-color: hsl(220, 90%, 56%);
  --primary-color-hover: hsl(220, 90%, 62%);
  --text-color: hsl(0, 0%, 100%);
  --text-color-secondary: hsl(240, 1%, 64%);
  --border-color: hsl(240, 22%, 20%);

  /**
   * typography
   */
  --ff-nunito-sans: 'Nunito Sans', sans-serif;
  --fs-1: 3.6rem;
  --fs-2: 3.2rem;
  --fs-3: 2.4rem;
  --fs-4: 2rem;
  --fs-5: 1.8rem;
  --fs-6: 1.4rem;
  --fs-7: 1.2rem;
  --fw-500: 500;
  --fw-600: 600;

  /**
   * shadow
   */
  --shadow-1: 0 16px 30px hsla(0, 0%, 0%, 0.2);
  --shadow-2: 0 16px 40px hsla(0, 0%, 0%, 0.2);

  /**
   * border radius
   */
  --radius-circle: 50%;
  --radius-pill: 100px;
  --radius-8: 8px;
  --radius-6: 6px;

  /**
   * transition
   */
  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a {
  text-decoration: none;
  color: inherit;
}

a,
img,
span,
input,
button,
ion-icon { display: block; }

img { height: auto; }

input,
button {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
}

input { width: 100%; }

button { cursor: pointer; }

ion-icon { pointer-events: none; }

html {
  font-family: var(--ff-nunito-sans);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-primary);
  color: var(--text-color);
  font-size: 1.6rem;
  line-height: 1.8;
}

::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background-color: transparent; }
::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: var(--radius-pill);
}

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container { padding-inline: 16px; }

.h1,
.h2,
.h3,
.h4,
.h5 {
  font-weight: var(--fw-600);
  line-height: 1.3;
}

.h1 { font-size: var(--fs-1); }
.h2 { font-size: var(--fs-2); }
.h3 { font-size: var(--fs-3); }
.h4 { font-size: var(--fs-4); }
.h5 { font-size: var(--fs-5); }

.btn {
  font-weight: var(--fw-500);
  padding: 10px 28px;
  border-radius: var(--radius-pill);
  transition: var(--transition-1);
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.btn-primary:is(:hover, :focus) { background-color: var(--primary-color-hover); }

.btn-secondary {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.btn-secondary:is(:hover, :focus) {
  background-color: var(--primary-color);
  color: var(--text-color);
}

/*-----------------------------------*\
  #MAIN
\*-----------------------------------*/

.main { position: relative; }

.main > .container {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 56px;
}

/*-----------------------------------*\
  #SIDEBAR
\*-----------------------------------*/

.sidebar {
  background-color: var(--background-secondary);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 24px;
  width: 280px;
  overflow-y: auto;
  overscroll-behavior: contain;
  z-index: 4;
  transform: translateX(-100%);
  visibility: hidden;
  transition: 0.25s var(--cubic-out);
}

.sidebar.active {
  transform: translateX(0);
  visibility: visible;
  transition-duration: 0.5s;
}

.sidebar-info { position: relative; }

.sidebar-info .avatar-box {
  background-color: var(--background-primary);
  border-radius: var(--radius-8);
  width: 100px;
  height: 100px;
  margin-block-end: 16px;
}

.sidebar-info .avatar-box img { border-radius: var(--radius-8); }

.sidebar-info .info-content .name { margin-block-end: 4px; }

.sidebar-info .info-content .title {
  color: var(--text-color-secondary);
  font-size: var(--fs-6);
  font-weight: var(--fw-500);
}

.info_more-btn {
  position: absolute;
  top: -12px;
  right: -12px;
  background-color: var(--background-primary);
  color: var(--primary-color);
  font-size: 20px;
  padding: 10px;
  border-radius: var(--radius-circle);
  box-shadow: var(--shadow-1);
  transition: var(--transition-1);
  z-index: 1;
}

.info_more-btn:hover { background-color: var(--primary-color); color: var(--text-color); }

.sidebar-info_more {
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-1);
}

.sidebar-info_more.active {
  opacity: 1;
  visibility: visible;
}

.contacts-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin-block: 32px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.contact-icon {
  background-color: var(--background-tertiary);
  color: var(--primary-color);
  font-size: 20px;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  border-radius: var(--radius-circle);
  flex-shrink: 0;
}

.contact-info {
  color: var(--text-color-secondary);
  font-size: var(--fs-6);
}

.contact-title { font-weight: var(--fw-500); }

.contact-link { transition: var(--transition-1); }

.contact-link:is(:hover, :focus) { color: var(--primary-color); }

.copy-btn {
  background-color: var(--background-tertiary);
  color: var(--primary-color);
  font-size: var(--fs-7);
  padding: 4px 8px;
  border-radius: var(--radius-6);
  margin-top: 4px;
  transition: var(--transition-1);
}

.copy-btn:hover {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.social-list {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  padding-block-start: 32px;
  border-block-start: 1px solid var(--border-color);
}

.social-link {
  background-color: var(--background-tertiary);
  color: var(--text-color);
  font-size: 20px;
  padding: 12px;
  border-radius: var(--radius-circle);
  transition: var(--transition-1);
}

.social-link:is(:hover, :focus) { background-color: var(--primary-color); }

/*-----------------------------------*\
  #NAVBAR
\*-----------------------------------*/

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--background-primary);
  padding-block: 24px;
  z-index: 3;
}

.navbar > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--background-primary);
  padding-block: 16px;
  transition: var(--transition-1);
  transform: scaleY(0);
  transform-origin: top;
}

.navbar.active .navbar-list {
  transform: scaleY(1);
}

.navbar-link {
  color: var(--text-color);
  font-size: var(--fs-5);
  font-weight: var(--fw-500);
  padding: 10px 24px;
  transition: var(--transition-1);
}

.navbar-link:is(:hover, :focus) { color: var(--primary-color); }

.nav-toggle-btn {
  color: var(--text-color);
  font-size: 32px;
}

.nav-toggle-btn.active .menu-icon,
.nav-toggle-btn .close-icon { display: none; }

.nav-toggle-btn .menu-icon,
.nav-toggle-btn.active .close-icon { display: block; }

/*-----------------------------------*\
  #ABOUT
\*-----------------------------------*/

.about .section-text { margin-block: 16px 56px; }

.about-content {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 32px;
}

.service-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
}

.service-item {
  background-color: var(--background-secondary);
  padding: 24px;
  border-radius: var(--radius-8);
}

.service-item .icon-box {
  background-color: var(--background-primary);
  color: var(--primary-color);
  font-size: 32px;
  max-width: max-content;
  padding: 16px;
  border-radius: var(--radius-circle);
  margin-block-end: 16px;
}

.service-item .service-title { margin-block-end: 8px; }

.service-item .service-text { color: var(--text-color-secondary); }

/*-----------------------------------*\
  #RESUME
\*-----------------------------------*/

.timeline { margin-block-start: 56px; }

.timeline .title-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-block-end: 24px;
}

.timeline-list {
  font-size: var(--fs-5);
  margin-inline-start: 44px;
}

.timeline-item { position: relative; }

.timeline-item:not(:last-child) { margin-block-end: 24px; }

.timeline-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: -30px;
  width: 2px;
  height: 100%;
  background-color: var(--primary-color);
}

.timeline-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: -36px;
  width: 14px;
  height: 14px;
  background-color: var(--primary-color);
  border-radius: var(--radius-circle);
}

.timeline-title {
  font-size: var(--fs-5);
  line-height: 1.3;
  margin-block-end: 8px;
}

.timeline-list span {
  color: var(--text-color-secondary);
  font-weight: var(--fw-500);
  line-height: 1.6;
}

.timeline-text {
  color: var(--text-color-secondary);
  line-height: 1.6;
}

.skills-title { margin-block: 32px 24px; }

.skills-list {
  background-color: var(--background-secondary);
  padding: 24px;
  border-radius: var(--radius-8);
}

.skills-item:not(:last-child) { margin-block-end: 24px; }

.skill .title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block-end: 8px;
}

.skill .title-wrapper data {
  color: var(--text-color-secondary);
  font-size: var(--fs-6);
  font-weight: var(--fw-500);
}

.skill-progress-bg {
  background-color: var(--background-primary);
  width: 100%;
  height: 8px;
  border-radius: var(--radius-pill);
}

.skill-progress-fill {
  background-color: var(--primary-color);
  height: 100%;
  border-radius: var(--radius-pill);
}

/*-----------------------------------*\
  #PORTFOLIO
\*-----------------------------------*/

.filter-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-block-end: 56px;
}

.filter-btn {
  color: var(--text-color);
  font-size: var(--fs-6);
  font-weight: var(--fw-500);
  padding: 8px 24px;
  border-radius: var(--radius-pill);
  transition: var(--transition-1);
}

.filter-btn.active { background-color: var(--primary-color); }

.filter-btn:not(.active):is(:hover, :focus) { color: var(--primary-color); }

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px;
}

.project-item > a {
  height: 100%;
  background-color: var(--background-secondary);
  border-radius: var(--radius-8);
  overflow: hidden;
}

.project-item > a:is(:hover, :focus) { transform: translateY(-8px); }

.project-item > a:is(:hover, :focus) .project-img { transform: scale(1.05); }

.project-img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  transition: var(--transition-2);
}

.project-title {
  color: var(--text-color);
  font-size: var(--fs-5);
  font-weight: var(--fw-500);
  line-height: 1.3;
  padding: 16px 20px;
}

.project-category {
  color: var(--text-color-secondary);
  font-size: var(--fs-6);
  padding-inline: 20px 16px;
  padding-block-end: 16px;
}

/*-----------------------------------*\
  #CONTACT
\*-----------------------------------*/

.contact-form { margin-block-start: 56px; }

.form-title { margin-block-end: 24px; }

.input-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  margin-block-end: 24px;
}

.form-input {
  color: var(--text-color);
  font-size: var(--fs-5);
  padding: 16px;
  border: 1px solid var(--border-color);
  border-radius: var(--radius-8);
  outline: none;
  transition: var(--transition-1);
}

.form-input::placeholder { color: var(--text-color-secondary); }

.form-input:focus { border-color: var(--primary-color); }

textarea.form-input {
  min-height: 120px;
  max-height: 240px;
  height: 120px;
  resize: vertical;
}

.form-btn {
  background-color: var(--primary-color);
  color: var(--text-color);
  font-size: var(--fs-5);
  font-weight: var(--fw-500);
  padding: 12px 32px;
  border-radius: var(--radius-pill);
  transition: var(--transition-1);
  display: flex;
  align-items: center;
  gap: 8px;
  max-width: max-content;
}

.form-btn:is(:hover, :focus) { background-color: var(--primary-color-hover); }

/*-----------------------------------*\
  #MAIN CONTENT
\*-----------------------------------*/

.main-content {
  margin-left: 280px;
  padding: 30px;
  min-height: 100vh;
}

article[data-page] {
  display: none;
}

article[data-page].active {
  display: block;
}

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

@media (min-width: 600px) {
  .container {
    max-width: 600px;
    width: 100%;
    margin-inline: auto;
  }
}

@media (min-width: 768px) {
  .container { max-width: 720px; }
  .h1 { --fs-1: 4.8rem; }
  .h2 { --fs-2: 4rem; }
}

@media (min-width: 992px) {
  .container { max-width: 960px; }
  .sidebar {
    position: sticky;
    top: 0;
    max-height: 100vh;
    padding: 32px;
    width: 320px;
    transform: translateX(0);
    visibility: visible;
    z-index: 1;
  }
  .sidebar-info_more { opacity: 1; visibility: visible; }
  .main {
    padding-inline-start: 320px;
  }
  .main > .container {
    grid-template-columns: 1fr;
    gap: 120px;
  }
  .navbar,
  .navbar.active .navbar-list { all: unset; }
  .navbar-list {
    display: flex;
    gap: 16px;
  }
  .navbar-link {
    color: var(--text-color-secondary);
    font-weight: var(--fw-500);
    transition: var(--transition-1);
  }
  .navbar-link:is(:hover, :focus) { color: var(--primary-color); }
  .navbar-link.active { color: var(--primary-color); }
  .nav-toggle-btn { display: none; }
}

@media (min-width: 1200px) {
  .container { max-width: 1200px; }
  .sidebar { width: 360px; }
  .main { padding-inline-start: 360px; }
}
